<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<style>
	.container{
		padding-top: 50px;
	}

	.navbody{
		margin-bottom: 20px;
	}

	.navhead{
		border-radius: 0;
	}

	thead tr th{
		text-align: center;
	}

	.content{
		text-align: center;
	}
	</style>

</head>
<body>
	<nav class="navbar navbar-inverse navhead">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Logo Area</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/">APP <span class="sr-only">(current)</span></a></li>
	        <li><a href="/website">网站</a></li>
	        
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container">
        <!--选项-->
        <ul class="nav nav-tabs navbody" role="tablist">
            <li role="presentation" class="active" >
                <a href="#zw-tab-one" aria-controls="zw-tab-one" role="tab" data-toggle="tab">应用宝woxianggaiyix</a>
            </li>
            <li role="presentation" >
                <a href="#zw-tab-two" aria-controls="zw-tab-two" role="tab" data-toggle="tab">豌豆荚</a>
            </li>
            <li role="presentation" >
                <a href="#zw-tab-three" aria-controls="zw-tab-three" role="tab" data-toggle="tab">360APP</a>
            </li>
            <li role="presentation" >
                <a href="#zw-tab-four" aria-controls="zw-tab-four" role="tab" data-toggle="tab">小米</a>
            </li>
            <li role="presentation" >
                <a href="#zw-tab-five" aria-controls="zw-tab-five" role="tab" data-toggle="tab">华为</a>
            </li>
            <li role="presentation" >
                <a href="#zw-tab-six" aria-controls="zw-tab-six" role="tab" data-toggle="tab">iphone</a>
            </li>
            <li role="presentation" >
                <a href="#zw-tab-seven" aria-controls="zw-tab-seven" role="tab" data-toggle="tab">ipad</a>
            </li>
            <li role="presentation" >
                <a href="#zw-tab-eight" aria-controls="zw-tab-eight" role="tab" data-toggle="tab">全部应用名</a>
            </li>
        </ul>
        <!--面板-->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active " id="zw-tab-one">
            	<table class='table table-hover table-bordered'>
					<thead>
						<tr>
							<th>名称</th>
							<th>下载量</th>
							<th>标签</th>
							<th>详情</th>
							<th>下载链接</th>
							<!--<th>删除</th>-->
						</tr>
					</thead>
					<tbody>
						{{#each yyb}}
							<tr class='item-id-{{_id}}'>
								<td>{{appName}}</td>
								<td>{{appCount}}</td>
								<td>{{appTag}}</td>
								<td class='content'><button class='btn btn-default getContent' data-id='{{_id}}' data-toggle="modal" data-target="#myModal">点击查看</a></td>
								<td><a href='{{appDownloadHref}}'>下载链接</a></td>
								<!--<td><button class='btn btn-danger del' type='button' data-id='{{_id}}'>删除</button></td>-->
							</tr>
						{{/each}}
					</tbody>
				</table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="zw-tab-two">
            	<table class='table table-hover table-bordered'>
					<thead>
						<tr>
							<th>名称</th>
							<th>下载量</th>
							<th>喜爱</th>
							<th>评论</th>
							<th>标签</th>
							<th>最后更新时间</th>
							<th>详情</th>
							<th>下载链接</th>
							<!--<th>删除</th>-->
						</tr>
					</thead>
					<tbody>
						{{#each wdj}}
							<tr class='item-id-{{_id}}'>
								<td>{{appName}}</td>
								<td>{{appCount}}</td>
								<td>{{appLike}}</td>
								<td>{{appComment}}</td>
								<td>{{appTag}}</td>
								<td>{{appUpdateTime}}</td>
								<td class='content'><button class='btn btn-default getContent' data-id='{{_id}}' data-toggle="modal" data-target="#myModal">点击查看</a></td>
								<td><a href='{{appDownloadHref}}'>下载链接</a></td>
								<!--<td><button class='btn btn-danger del' type='button' data-id='{{_id}}'>删除</button></td>-->
							</tr>
						{{/each}}
					</tbody>
				</table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="zw-tab-three">
            	<table class='table table-hover table-bordered'>
					<thead>
						<tr>
							<th>名称</th>
							<th>下载量</th>
							<th>详情</th>
							<th>下载链接</th>
							<!--<th>删除</th>-->
						</tr>
					</thead>
					<tbody>
						{{#each sll}}
							<tr class='item-id-{{_id}}'>
								<td>{{appName}}</td>
								<td>{{appCount}}</td>
								<td class='content'><button class='btn btn-default getContent' data-id='{{_id}}' data-toggle="modal" data-target="#myModal">点击查看</a></td>
								<td><a href='{{appDownloadHref}}'>下载链接</a></td>
								<!--<td><button class='btn btn-danger del' type='button' data-id='{{_id}}'>删除</button></td>-->
							</tr>
						{{/each}}
					</tbody>
				</table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="zw-tab-four">
            	<table class='table table-hover table-bordered'>
					<thead>
						<tr>
							<th>名称</th>
							<th>评星</th>
							<th>更新时间</th>
							<th>详情</th>
							<th>下载链接</th>
							<!--<th>删除</th>-->
						</tr>
					</thead>
					<tbody>
						{{#each xm}}
							<tr class='item-id-{{_id}}'>
								<td>{{appName}}</td>
								<td>{{appScore}}</td>
								<td>{{appUpdateTime}}</td>
								<td class='content'><button class='btn btn-default getContent' data-id='{{_id}}' data-toggle="modal" data-target="#myModal">点击查看</a></td>
								<td><a href='{{appDownloadHref}}'>下载链接</a></td>
								<!--<td><button class='btn btn-danger del' type='button' data-id='{{_id}}'>删除</button></td>-->
							</tr>
						{{/each}}
					</tbody>
				</table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="zw-tab-five">
            	<table class='table table-hover table-bordered'>
					<thead>
						<tr>
							<th>名称</th>
							<th>下载量</th>
							<th>发布时间</th>
							<th>详情</th>
							<th>下载链接</th>
							<!--<th>删除</th>-->
						</tr>
					</thead>
					<tbody>
						{{#each hw}}
							<tr class='item-id-{{_id}}'>
								<td>{{appName}}</td>
								<td>{{appCount}}</td>
								<td>{{appUpdateTime}}</td>
								<td class='content'><button class='btn btn-default getContent' data-id='{{_id}}' data-toggle="modal" data-target="#myModal">点击查看</a></td>
								<td><a href='{{appDownloadHref}}'>下载链接</a></td>
								<!--<td><button class='btn btn-danger del' type='button' data-id='{{_id}}'>删除</button></td>-->
							</tr>
						{{/each}}
					</tbody>
				</table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="zw-tab-six">
            	<table class='table table-hover table-bordered'>
					<thead>
						<tr>
							<th>名称</th>
							<th>下载量</th>
							<th>更新时间</th>
							<th>详情</th>
							<th>下载链接</th>
							<!--<th>删除</th>-->
						</tr>
					</thead>
					<tbody>
						{{#each iphone}}
							<tr class='item-id-{{_id}}'>
								<td>{{appName}}</td>
								<td>{{appCount}}</td>
								<td>{{appUpdateTime}}</td>
								<td class='content'><button class='btn btn-default getContent' data-id='{{_id}}' data-toggle="modal" data-target="#myModal">点击查看</a></td>
								<td><a href='{{appDownloadHref}}'>下载链接</a></td>
								<!--<td><button class='btn btn-danger del' type='button' data-id='{{_id}}'>删除</button></td>-->
							</tr>
						{{/each}}
					</tbody>
				</table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="zw-tab-seven">
            	<table class='table table-hover table-bordered'>
					<thead>
						<tr>
							<th>名称</th>
							<th>下载量</th>
							<th>更新时间</th>
							<th>详情</th>
							<th>下载链接</th>
							<!--<th>删除</th>-->
						</tr>
					</thead>
					<tbody>
						{{#each iphone}}
							<tr class='item-id-{{_id}}'>
								<td>{{appName}}</td>
								<td>{{appCount}}</td>
								<td>{{appUpdateTime}}</td>
								<td class='content'><button class='btn btn-default getContent' data-id='{{_id}}' data-toggle="modal" data-target="#myModal">点击查看</a></td>
								<td><a href='{{appDownloadHref}}'>下载链接</a></td>
								<!--<td><button class='btn btn-danger del' type='button' data-id='{{_id}}'>删除</button></td>-->
							</tr>
						{{/each}}
					</tbody>
				</table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="zw-tab-eight">
            	<table class='table table-hover table-bordered'>
					<thead>
						<tr>
							<th>名称（共计 {{count}} 个应用）</th>
							<!--<th>删除</th>-->
						</tr>
					</thead>
					<tbody>
						{{#each all}}
							<tr class='item-id-{{_id}}'>
								<td>{{appName}}</td>
								<!--<td><button class='btn btn-danger del' type='button' data-id='{{_id}}'>删除</button></td>-->
							</tr>
						{{/each}}
					</tbody>
				</table>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	                <h4 class="modal-title" id="myModalLabel">描述详情</h4>
	            </div>
	            <div class="modal-body">文本部分</div>
	        </div><!-- /.modal-content -->
	    </div><!-- /.modal -->
	</div>

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script>
	$(function() {
		//点击查看详情
		$('.getContent').click(function() {
			var id = $(this).data('id');
			$.ajax({
				type:'POST',
				url:'/api/getContent?id=' + id
			})
			.done(function(data){
				$('.modal-body').text(data.content);
			})
			.fail(function(jqXhr) {
				console.log('fail to get content')
			})
		})
	})
	</script>
</body>
</html>
